@import "tailwindcss";

:root {
  --background: #fbfbfe;
  --foreground: #171717;
}

/*saco el select en toda la pagina*/
* {
    user-select: none;
}


/*animacion de card principal*/
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.animate-in {
  animation: fadeInUp 0.7s ease-out forwards;
}
.animate-in-delay {
  animation: fadeInUp 0.7s ease-out 0.2s forwards;
}


/*saco el scroll*/
::-webkit-scrollbar{
  display: none;
}
html {
  scrollbar-width: none;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* contenedor */
.animate-container {
  overflow: hidden;
  margin: 0 auto;
}

/* carrusel */
.animate-track {
  display: flex;
  width: max-content;
  animation: scroll linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}


@media (max-width: 640px) {
  .animate-track {
    animation-duration: 20s;
  }
}

@media (min-width: 641px) and (max-width: 1023px) {
  .animate-track {
    animation-duration: 22s;
  }
}


@media (min-width: 1024px) {
  .animate-track {
    animation-duration: 28s;
  }
}


/*animacion para los estados 1-2-3-4*/
@keyframes stepActivePop {
  0% {
    transform: scale(0.8);
    border-color: color-mix(in oklab, var(--color-fuchsia-100) 100%, transparent);
  }

  50% {
    transform: scale(1.15);
    border-color: color-mix(in oklab, var(--color-fuchsia-100) 80%, transparent);
  }

  100% {
    transform: scale(1);
    border-color: color-mix(in oklab, var(--color-fuchsia-100) 60%, transparent); /* final exacto */
  }
}

.animate-stepActive {
  animation: stepActivePop 0.45s ease-out forwards;
}